/* CSS declarations go here */

body {
    font-family: 'Open Sans', sans-serif;
}

@mixin muted {
    //filter:alpha(opacity=50); opacity:.50;
    color: #bbb;
    font-weight: 300;
}

@mixin selected($width) {
    &.selected {
        border-left: $width solid #0088cc !important;
    }
}

@mixin mutedWithHover {
    @include muted;
    &:hover {
        //filter:alpha(opacity=1); opacity:1;
        color: #555;
    }
}

.container-fluid {
    padding-left: 0px;
}

.sidebar-nav-fixed.sidebarNav {
    padding : 10px 0px;
    -webkit-overflow-scrolling: touch;
    border-right: 1px solid #ccc;
    /*
    box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
    */
    height: 100%;
    z-index: 99;
    .sidebarInfo {
        padding: 5px;
    }
    .packs {

        margin-bottom: 15px;
        border-right: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

        .nav-header {
            font-weight: normal;
        }
        li {
            .loader {
                float: right;
                padding: 0px 10px;
                img {
                    display: inline;
                    vertical-align: middle;
                }
            }
            &>a {
                padding-left: 20px;
                padding-right: 20px;
            }
            /*
            a.selected {
                border-left: 2px solid #0088cc;
            }
            &.active a.selected {
                border-left: 2px solid white;
            }
            */
            &.active .counters {
                color: white;
            }
        }
    }

}

.sidebar-nav-fixed {
    position : fixed;
    width : 20%;
    padding: 10px 0px 10px 10px;
}

@media (max-width :  767px) {
    .sidebar-nav-fixed {
        position : static;
        width : auto;
    }
}

@media (max-width :  979px) {
    .sidebar-nav-fixed {
    }
}

button.close {
    margin-top: -15px;
    margin-right: -10px;
}


.header {
    padding-top: 10px;
    padding-bottom: 10px;
    h1 {
        display: inline;
        vertical-align: middle;
        line-height: 50px;
        font-weight: 300;
    }
    .logo {
        width : 50px;
        margin-right: 10px;
        vertical-align :  middle;
    }
}

.sidebarInfo {
    margin: 5px 0px;
}

#packBlocks {
    z-index: 99;
}

.unread {
    font-weight: 600;
    color: black;
}

.emailWithBraces {
    &:before {
        content: "<";
    }
    &:after {
        content: ">";
    }
    font-weight: normal;
}

.muted {
    font-weight: normal;
    @include muted;
}

.messageRow {
    margin: 10px 0px;
    padding: 0px 5px;
    line-height: 30px;
    //background-color: rgba(243,243,243,.85);
    //background-color: #F7F7F7;
    //border: 1px solid #fff;
    border: 1px solid #F2F2F2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    a {
        color: black;
    }
    &.unread {
        border: 1px solid #c0c0c0;
    }
    @include selected(1px);
    &.marked {
        background-color: #fcf8e3;
        border: 1px solid #fbeed5;
    }
    &.marked.selected {
        @include selected(1px);
    }
    .dateField {
        white-space: nowrap;
    }
    .emailField {
        overflow: hidden;
        white-space: nowrap;
        .email {
            @include muted;
        }
        .emailWithBraces {
            @include muted;
        }
    }
    .subjectField {
        overflow-x: hidden;
        white-space: nowrap;
    }
    [class*="span"] {
        min-height: 0px;
        vertical-align: middle;
    }
}

.messageHeader {
    .date {
        margin-left: 10px;
    }
    span.headerRow {
        @include muted;
    }
    a.email {
        color: inherit;
    }
}

a.label {
    background-color: white;
    border: 1px solid #f2f2f2;
    color: inherit;
    text-shadow: none;
    font-weight: 400;
    &:hover {
        color: black;
    }
}

.message {
    iframe.body {
        border: 0px;
        width: 100%;
    }
    .body-text {
        overflow-x: auto;
    }

    a.showQuote {
        cursor: pointer;
        @include muted;
    }
    @include selected(1px);
    &.marked {
        background-color: #fcf8e3 !important;
        border: 1px solid #fbeed5;
    }
    &.marked.selected {
        @include selected(1px);
    }

    border: 1px solid white;

    .quoted {
        color: #999999;
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid #aaa;
    }
}

.threadView {
    .message {
        margin: 0px 0px 20px;
        padding: 10px;
        border-radius: 5px;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        /*
        background-color: #FCFAEE;
        &:nth-child(odd) {
        }
        &:nth-child(even) {
        background-color: #f9f9f9;
        }
        */
    }
}

.threadRow {
    border-top: 3px double #ddd;
    border-left: 3px double #ddd;
    border-right: thin solid #ddd;
    border-bottom: thin solid #ddd;
    .messageRow {
        border: 0px;
        margin: 0px;
    }
    &.selected {
        border-left: 3px double #0088cc !important;
    }
    &.marked {
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        border-left: 3px double #fbeed5;
        border-top: 3px double #fbeed5;
        .messageRow {
            background-color: #fcf8e3;
        }
    }
    &.marked.selected {
        border-left: 3px double #0088cc !important;
        border-top: 3px double #fbeed5;
    }
}

@mixin shadowed {
    border: 1px solid white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

    -moz-box-shadow: 0px 1px 5px #ccc;
    -webkit-box-shadow: 0px 1px 5px #ccc;
    box-shadow: 0px 1px 5px #ccc;
}

.packGroups {
    box-shadow: 0 0 20px #cccccc;
    -webkit-box-shadow: 0 0 20px #cccccc;
    -moz-box-shadow: 0 0 20px #cccccc;

    .packGroup {
        cursor: pointer;
        .counters {
            padding: 3px;
        }
        .sumCount {
            bottom: 5px;
            font-size: 18px;
            position: absolute;
            right: 5px;
            padding-right: 5px;
        }
        .rightBottom {
            padding: 10px 0px;
        }

        &.asRow {
            margin: 0px 0px 15px !important;
        }
        &.asTile {
            margin: 0px 10px 15px !important;
        }
        padding: 5px;
        position: relative;
    }
}
.groupView {
    padding-top: 9px;
}

.hotkeysHelp {
    padding-top: 0px;
    .actionTypeBlock {
        margin-left: 0px;
        .keyVal {
            text-align: right;
            font-weight: bold;
            padding: 5px 0px;
        }
        .keyDoc {
            padding: 5px 0px;
        }
    }
}

.draftView {
    .draftBody {
        padding: 15px 15px 0px 10px;
        form {
            margin: 0px;
            .control-group {
                margin-bottom: 5px;
                input,textarea {
                    border: 1px solid lighten(#ccc, 10%);
                    width: 400px;
                    &[name=to]:not(focused) {
                    }
                    &[name=subject] {
                    }
                    &[name=body] {
                        width: 100%;
                        //height: 300px;
                    }
                }
            }
        }
    }
    .draftFooter {
        .modal-footer {
            border-top: 0px;
            padding: 5px;
            margin-left: 10px;
            background-color: white;
        }
        .saved {
            padding-top: 3px;
        }
    }
    @include selected(1px);
}

.draftPopup {
    width: 600px;
    height: 100%;
    //background-color: rgba(255, 255, 255, 1);
    background-color: white;
    position: absolute;
    left: auto;
    right: -622px;
    top: 0px;
    padding: 10px;
    z-index: 99 !important;
    overflow: auto;

    border-left: 0px;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.searchPopup {
    background-color: rgba(82, 168, 236, 0.2);
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 6px;
    form {
        margin: 0px;
        input {
            margin: 0px;
            width: 250px;
        }
    }
}

#packView {
    position: relative;
    margin-left: 0px;
    .title {
        margin: 10px 0px;
    }

    .contentView {
        position: relative;
        .content {
            margin-top: 10px;
            /*
            &.disabled {
                -webkit-filter: blur(10px);
                -moz-filter: blur(10px);
                -o-filter: blur(10px);
                -ms-filter: blur(10px);
                filter: blur(10px);
                pointer-events: none;
                overflow-y: hidden;
            }
            */
        }
        .loadMore {
            margin: 10px auto;
            width: 50%;
            position: relative;
        }
    }

    .popupView {
        padding: 15px;
        margin: 5px;
        width: 95%;
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        top: 0;
        left: 2%;
        box-shadow: 0px 0px 10px #ccc;
        border-radius: 5px;
        border: 1px solid #bbb;
        z-index:999;

        display:none;

    }
}

#loginModal {
    width: 300px;
    margin-left: -150px;
    margin-right: -150px;
    .control-group {
        text-align: center;
        margin-bottom: 10px;
    }
    .form-horizontal .controls {
        margin-left: 0px;
    }
    .loader {
        margin-right: -16px;
    }
}


.filters {
    .query {
        font-family: "Courier New" Courier monospace;
        a {
            text-decoration: none;
        }
    }
    form {
        padding: 5px 15px;
        .control-group {
            margin: 0px 0px 10px;
        }
    }
}


@media (max-width: 767px) {
    #loginModal.modal {
        left: 50%;
    }
}

#hotkeysModal {
    width: 800px;
    margin-left: -400px;
    margin-right: -400px;
}
@media (max-width: 767px) {
    #hotkeysModal {
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
}


/* Bootstrap improvements */
.modal-backdrop {
    background-color: white;
    /*background: url(http://polzunov.com/background.gif);*/
    opacity: 0.8;
}

.lead {
    font-weight: 400;
}

/* --- Bootstrap improvements */
