/* CSS declarations go here */
body {
  font-family: "Open Sans", sans-serif; }

.container-fluid {
  padding-left: 0px; }

.sidebarNav {
  padding: 9px 0;
  -webkit-overflow-scrolling: touch;
  padding: 15px 0 30px 30px;
  border-right: 1px solid #bbbbbb;
  box-shadow: 0 0 20px #cccccc;
  -webkit-box-shadow: 0 0 20px #cccccc;
  -moz-box-shadow: 0 0 20px #cccccc;
  height: 100%;
  z-index: 99; }

.sidebar-nav-fixed {
  position: fixed;
  width: 20%;
  padding: 10px 0px 10px 10px; }

@media (max-width: 767px) {
  .sidebar-nav-fixed {
    position: static;
    width: auto; } }
button.close {
  margin-top: -15px;
  margin-right: -10px; }

.header {
  padding-top: 10px;
  padding-bottom: 10px; }
  .header h1 {
    display: inline;
    vertical-align: middle;
    line-height: 50px; }
  .header .logo {
    width: 50px;
    margin-right: 10px;
    vertical-align: middle; }

.sidebarInfo {
  margin: 5px 0px; }

#packBlocks {
  z-index: 99; }

.packs {
  margin-bottom: 15px;
  border-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }
  .packs li {
    /*
    a.selected {
        border-left: 2px solid #0088cc;
    }
    &.active a.selected {
        border-left: 2px solid white;
    }
    */ }
    .packs li .loader {
      float: right;
      padding: 0px 10px; }
      .packs li .loader img {
        display: inline;
        vertical-align: middle; }
    .packs li.active .counters {
      color: white; }

.unread {
  font-weight: 800;
  color: black; }

.emailWithBraces:before {
  content: "<"; }
.emailWithBraces:after {
  content: ">"; }

.muted {
  font-weight: normal;
  filter: alpha(opacity=50);
  opacity: .50; }

.mutedWithHover {
  filter: alpha(opacity=50);
  opacity: .50; }
  .mutedWithHover:hover {
    filter: alpha(opacity=1);
    opacity: 1; }

.messageRow {
  margin: 5px 0px;
  padding: 0px 5px;
  line-height: 30px;
  background-color: rgba(243, 243, 243, 0.85);
  border: 1px solid white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .messageRow a {
    color: black; }
  .messageRow.unread .dateField {
    font-weight: normal; }
  .messageRow.selected {
    border-left: 2px solid #0088cc; }
  .messageRow.marked {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5; }
  .messageRow.marked.selected {
    border-left: 2px solid #0088cc; }
  .messageRow .dateField {
    font-weight: normal;
    white-space: nowrap; }
  .messageRow .emailField {
    overflow: hidden;
    white-space: nowrap; }
    .messageRow .emailField .email {
      filter: alpha(opacity=50);
      opacity: .50; }
    .messageRow .emailField .emailWithBraces {
      filter: alpha(opacity=50);
      opacity: .50; }
  .messageRow .subjectField {
    overflow: hidden;
    white-space: pre-wrap; }
  .messageRow [class*="span"] {
    min-height: 0px;
    vertical-align: middle; }

.threadView .message {
  margin: 0px 0px 10px;
  padding: 10px;
  border-radius: 5px; }
  .threadView .message:nth-child(odd) {
    background-color: #FCFAEE; }
  .threadView .message:nth-child(even) {
    background-color: #f9f9f9; }

.threadRow {
  border-top: thick double #dddddd;
  border-left: thick double #dddddd;
  border-right: thin solid #dddddd;
  border-bottom: thin solid #dddddd; }
  .threadRow .messageRow {
    border: 0px;
    margin: 0px; }

.packGroups {
  padding-top: 9px; }
  .packGroups [class*="span"] {
    min-height: 0px;
    vertical-align: middle; }
  .packGroups .packGroup {
    cursor: pointer;
    padding: 5px;
    position: relative;
    border: 1px solid white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 0px 1px 5px #cccccc;
    -webkit-box-shadow: 0px 1px 5px #cccccc;
    box-shadow: 0px 1px 5px #cccccc; }
    .packGroups .packGroup .counters {
      padding: 3px; }
    .packGroups .packGroup .sumCount {
      bottom: 5px;
      font-size: 18px;
      position: absolute;
      right: 5px;
      padding-right: 5px; }
    .packGroups .packGroup .rightBottom {
      padding: 10px 0px; }
    .packGroups .packGroup.asRow {
      margin: 0px 0px 15px !important; }
    .packGroups .packGroup.asTile {
      margin: 0px 10px 15px !important; }

.groupView {
  padding-top: 9px; }

.hotkeysHelp .actionTypeBlock {
  margin-left: 0px; }
  .hotkeysHelp .actionTypeBlock .keyVal {
    text-align: right;
    font-weight: bold;
    padding: 5px 0px; }
  .hotkeysHelp .actionTypeBlock .keyDoc {
    padding: 5px 0px; }

.draftView .draftBody {
  padding: 15px 15px 0px 0px; }
  .draftView .draftBody form {
    margin: 0px; }
    .draftView .draftBody form .control-group {
      margin-bottom: 5px; }
      .draftView .draftBody form .control-group input, .draftView .draftBody form .control-group textarea {
        border: 1px solid #e6e6e6;
        width: 400px; }
        .draftView .draftBody form .control-group input[name=body], .draftView .draftBody form .control-group textarea[name=body] {
          width: 100%; }
.draftView .draftFooter .modal-footer {
  border-top: 0px; }
.draftView .draftFooter .saved {
  padding-top: 3px; }

.draftPopup {
  width: 600px;
  height: 100%;
  background-color: white;
  position: absolute;
  left: auto;
  right: -622px;
  top: 0px;
  padding: 10px;
  z-index: 99 !important;
  overflow: auto;
  border-left: 0px;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb; }

.searchPopup {
  background-color: rgba(82, 168, 236, 0.2);
  position: fixed;
  bottom: 10px;
  right: 30px;
  padding: 10px;
  border-radius: 6px; }
  .searchPopup form {
    margin: 0px; }
    .searchPopup form input {
      margin: 0px;
      width: 250px; }

#packView {
  position: relative;
  margin-left: 0px; }
  #packView .title {
    margin: 10px 0px; }
  #packView .contentView .content {
    margin-top: 10px;
    /*
    &.disabled {
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
        pointer-events: none;
        overflow-y: hidden;
    }
    */ }
  #packView .contentView .loadMore {
    margin: 10px auto;
    width: 50%;
    position: relative; }
  #packView .popupView {
    padding: 15px;
    margin: 5px;
    width: 95%;
    background-color: white;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 2%;
    box-shadow: 0px 0px 10px #cccccc;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    display: none; }
    #packView .popupView .messageHeader .date {
      margin-left: 10px; }
    #packView .popupView .messageHeader span.headerRow {
      filter: alpha(opacity=50);
      opacity: .50; }
    #packView .popupView .messageHeader a.email {
      color: inherit; }
    #packView .popupView a.showQuote {
      cursor: pointer; }
    #packView .popupView .body-text {
      overflow-x: auto; }
    #packView .popupView .quoted {
      color: #999999;
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid #aaaaaa; }

#loginModal {
  width: 300px;
  margin-left: -150px;
  margin-right: -150px; }
  #loginModal .control-group {
    text-align: center;
    margin-bottom: 10px; }
  #loginModal .form-horizontal .controls {
    margin-left: 0px; }
  #loginModal .loader {
    margin-right: -16px; }

@media (max-width: 767px) {
  #loginModal.modal {
    left: 50%; } }
#hotkeysModal {
  width: 800px;
  margin-left: -400px;
  margin-right: -400px; }

/* Bootstrap improvements */
.modal-backdrop {
  background-color: white;
  /*background: url(http://polzunov.com/background.gif);*/
  opacity: 0.8; }

/* --- Bootstrap improvements */
