/* CSS declarations go here */

body {
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding-left: 0px;
}

.sidebarNav {
    padding :  9px 0;
    -webkit-overflow-scrolling: touch;
    padding: 15px 0 30px 30px;
    border-right: 1px solid #bbb;
    box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
    height: 100%;
    z-index: 99;
}

.sidebar-nav-fixed {
    position : fixed;
    width : 20%;
    padding: 10px 0px 10px 10px;
}

@media (max-width :  767px) {
    .sidebar-nav-fixed {
        position : static;
        width : auto;
    }
}

@media (max-width :  979px) {
    .sidebar-nav-fixed {
    }
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    h1 {
        display: inline;
        vertical-align: middle;
        line-height: 50px;
    }
    .logo {
        width : 50px;
        margin-right: 10px;
        vertical-align :  middle;
    }
}

.sidebarInfo {
    margin: 5px 0px;
}

#packBlocks {
    z-index: 99;
}

.packs {
    li {
        .loader {
            float: right;
            padding: 0px 10px;
            img {
                display: inline;
                vertical-align: middle;
            }
        }
        /*
        a.selected {
            border-left: 2px solid #0088cc;
        }
        &.active a.selected {
            border-left: 2px solid white;
        }
        */
        &.active .counters {
            color: white;
        }
    }
    margin-bottom: 15px;
    border-right: 0px;
}

.unread {
    font-weight: 800;
    color: black;
}

.messageRow {
    a {
        color: black;
    }
    .muted {
        font-weight: normal;
    }
    &.unread {
        .dateField {
            font-weight: normal;
        }
    }
    &.selected {
        border-left: 2px solid #0088cc;
    }
    &.marked {
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        background-color: #fcf8e3;
        border: 1px solid #fbeed5;
    }
    &.marked.selected {
        border-left: 2px solid #0088cc;
    }
    .dateField {
        font-weight: normal;
        white-space: nowrap;
    }
    .emailField {
        overflow: hidden;
        white-space: nowrap;
    }
    .subjectField {
        overflow: hidden;
        white-space: nowrap;
    }
    [class*="span"] {
        min-height: 0px;
        vertical-align: middle;
    }
    margin: 5px 0px;
    padding: 0px 5px;
    line-height: 30px;
    background-color: rgba(243,243,243,.85);
    border: 1px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


.messageList {
    margin-top: 10px;
}

.messageView {
    padding: 10px;
    margin: 5px;
    .body0 {
    }
    .body1 {
        color: #999999;
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid #aaa;
    }
    .body2 {
        color: #888888;
    }
}

@mixin shadowed {
    border: 1px solid white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

    -moz-box-shadow: 0px 1px 5px #ccc;
    -webkit-box-shadow: 0px 1px 5px #ccc;
    box-shadow: 0px 1px 5px #ccc;
}

.packGroups {
    padding-top: 9px;
    [class*="span"] {
        min-height: 0px;
        vertical-align: middle;
    }
    .packGroup {
        cursor : pointer;
        .counters {
            padding: 3px;
        }
        .sumCount {
            bottom: 5px;
            font-size: 18px;
            position: absolute;
            right: 5px;
            padding-right: 5px;
        }
        .messageRow {
        }
        .rightBottom {
            padding: 10px 0px;
        }

        &.asRow {
            margin: 0px 0px 15px !important;
        }
        &.asTile {
            margin: 0px 10px 15px !important;
        }
        padding: 5px;
        position: relative;
        @include shadowed;
    }
}
.groupView {
    padding-top: 9px;
}

.hotkeysHelp {
    .actionTypeBlock {
        margin-left: 0px;
        .keyVal {
            text-align: right;
            font-weight: bold;
            padding: 5px 0px;
        }
        .keyDoc {
            padding: 5px 0px;
        }
    }
}

.draftView {
    .draftBody {
        padding: 15px 15px 20px 0px;
        form {
            margin: 0px;
            .control-group {
                margin-bottom: 5px;
                input,textarea {
                    border: 1px solid lighten(#ccc, 10%);
                    width: 400px;
                    &[name=to]:not(focused) {
                    }
                    &[name=subject] {
                    }
                    &[name=body] {
                        width: 90%;
                        height: 300px;
                    }
                }
            }
        }
    }
    .draftFooter {
        max-width: 500px;
    }
}

.draftPopup {
    width: 600px;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: auto;
    right: -622px;
    top: 0px;
    padding: 10px;
    z-index: 99 !important;
    overflow: auto;

    border-left: 0px;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

#packView {
    position: relative;
    margin-left: 0px;
}

#loginModal {
    width: 300px;
    margin-left: -150px;
    margin-right: -150px;
    .control-group {
        text-align: center;
        margin-bottom: 10px;
    }
    .form-horizontal .controls {
        margin-left: 0px;
    }
}

#hotkeysModal {
    width: 600px;
    margin-left: -300px;
    margin-right: -300px;
}


/* Bootstrap improvements */
.modal-backdrop {
    background-color: white;
    opacity: 0.8;
}

/* --- Bootstrap improvements */
