<div class="row-fluid mainBlock hide">
    <div class="span3">
        <div class="sidebar-nav sidebar-nav-fixed sidebarNav" id="sidebarView"></div>
    </div>
    <div class="span9" id="packView">
        <div class="popupView" id="popupView">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <div class="content"></div>
        </div>
        <div id="contentView" class="contentView"></div>
    </div>
</div>

<div class="modal hide" id="hotkeysModal" data-backdrop="true" data-keyboard="true" data-show="true" tabindex="-1"></div>

<div class="searchPopup hide" id="searchPopup">
    <form>
        <div class="input-append">
          <input type="text" name="search"/>
          <button class="btn" type="submit"><i class="icon-search"></i></button>
        </div>
    </form>
</div>

