<div class="modal-body">
    <div class="header text-center"><img src="/static/img/curie.gif" class="logo"/><h1>Curie</h1></div>
    <br/>
    <div class="alert alert-error hide"></div>
    <form class="form-horizontal">
        <div class="control-group">
            <div class="controls">
                <input type="text" placeholder="Login" name="login" tabindex="2">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="password" placeholder="Password" name="password" tabindex="3">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn" tabindex="4" onFocus="this.tabIndex=1;" onBlur="this.tabIndex=4;">Sign in</button>
                <img src="/static/img/loader2.gif" id="modalLoader" class="hide loader"/>
            </div>
        </div>
    </form>
</div>
