    <div id="message-row-{{ id }}" class="row messageRow {{#if unread }}unread{{/if}} {{#if selected }}selected{{/if}} {{#if marked }}marked{{/if}}">
        {{#if url }}
        <a href="#{{ url }}">
        {{/if}}

        {{#isOutcoming this }}
            <div class="span3 emailField">To:
            {{# if to }}
                {{#commaJoined to}}
                    {{> emailAddress }}
                {{/commaJoined}}
            {{/if}}
            </div>
        {{ else }}
            <div class="span3 emailField">{{> emailAddress from }}</div>
        {{/isOutcoming }}

        <div class="span7 subjectField">
            {{ subject }}&nbsp;
        </div>
        <!--<div class="span3 dateField">{{#dateformat received 'HH:mm, dddd, MMM Do'}}{{/dateformat}}</div>-->
        <div class="span2 dateField">
            {{#if labels }}
                <span class="pull-left">
                {{#each labels}}
                    <span class="bull" style="color: {{#colorForLabel this}}{{/colorForLabel}}">&diams;</span>
                {{/each }}
                </span>
            {{/if}}
        {{#date_ago received }}{{/date_ago}}
        </div>

        {{#if url }}
        </a>
        {{/if}}
    </div>
