    <div id="message-row-{{ id }}" class="row messageRow {{#if unread }}unread{{/if}} {{#if selected }}selected{{/if}} {{#if marked }}marked{{/if}}">
        {{#if url }}
        <a href="#{{ url }}">
        {{/if}}

        {{#isOutcoming this }}
            <div class="span4 emailField">To:
            {{# if to }}
                {{#commaJoined to}}
                    {{> emailAddress }}
                {{/commaJoined}}
            {{/if}}
            </div>
        {{ else }}
            <div class="span4 emailField">{{> emailAddress from }}</div>
        {{/isOutcoming }}

        <div class="span5 subjectField">{{ subject }}&nbsp;</div>
        <div class="span3 dateField">{{#dateformat received 'HH:mm, dddd, MMM Do'}}{{/dateformat}}</div>

        {{#if url }}
        </a>
        {{/if}}
    </div>
