{{#each packs}}
<li {{#if active }}class="active"{{/if}}><a href="#{{ hashUrl }}" class="pack" name="{{ name }}">{{ name }} <span class="badge badge-inverse"></span><span class="loader"></span></a></li>
{{/each}}
