<div>
    {{#if query }}
    <h1 class="lead"><span class="muted">Search:</span> {{ query }}<span class="pull-right muted">{{ size }} found</span></h1>
    {{/if }}

    <div class="content"></div>
    <div class="loadMore hide">
        <button class="btn btn-block" type="button">Load more</button>
        <span class="muted pull-right">Press "/" to search</span>
    </div>
</div>
