<div>
    {{#if query }}
    <h1 class="lead searchHeader"><span class="muted">Search:</span> {{ query }}<span class="pull-right muted"><span name="total">{{ size }}</span> found</span></h1>
    <div class="selectionActions" name="selection-actions">
        <div class="btn-group controls pull-right">
            <button class="btn btn-small" name="delete-selected">Delete <span name="howManySelected"></span> selected</button>
            <button class="btn btn-small" name="delete-all">Delete all found</button>
        </div>
    </div>
    {{/if}}

    <div class="content"></div>
    <div class="loadMore hide">
        <button class="btn btn-block" type="button">Load more</button>
        <span class="muted pull-right">Press "/" to search</span>
    </div>
</div>
