<div id="packBlocks">
</div>
<div class="packs" style="padding:10px 0px;">
    <label class="nav-header">predefined searches</label>
    <ul class="nav nav-list">
        <li><a href="#search/K3JlY2VpdmVkOltOT1cvREFZIFRPIE5PVy9EQVkrMURBWV0%3D">today</a></li>
        <li><a href="#search/K3JlY2VpdmVkOltOT1cvREFZLTFEQVkgVE8gTk9XL0RBWV0%3D">yesterday</a></li>
        <li><a href="#search/K3VucmVhZDp0cnVl">all unread</a></li>
    </ul>
</div>
<ul class="nav nav-list packs">
    <li name="new-message"><a href="#">new message</a></li>
    <li name="search"><a href="#">search</a></li>
    <li><a href="#filters">filters</a></li>
</ul>

<!--
<div class="text-center">
    <br/>
    <div class="btn-group">
        <button class="btn" name="showAs" data-value="LIST"><i class="icon-align-justify"></i></button>
        <button class="btn" name="showAs" data-value="COMBINED"><i class="icon-th-list"></i></button>
        <button class="btn" name="showAs" data-value="TILES"><i class="icon-th-large"></i></button>
    </div>
</div>
-->
<div class="muted text-center alert alert-error hide sidebarInfo" id="errorAlert"></div>
<br/>
<div class="muted text-center sidebarInfo" id="accountInfo"></div>
<div class="muted text-center sidebarInfo" id="lastFetchTime"></div>
<div class="text-center muted">Hotkeys help: "?"</div>
