<div id="message-row-{{ id }}" class="row messageRow {{#if unreadCount }}unread{{/if}} threadRow">
    {{#if url }}
    <a href="#{{ url }}">
    {{/if}}

    {{> messageRow last }}


    {{#if url }}
    </a>
    {{/if}}
</div>
