var settings = {

    DOMAIN : 'somedomain.com',

    STORAGE : {
        MESSAGES : "STORAGE-MESSAGES-PATH",
        DRAFTS : "STORAGE-DRAFTS-PATH",
    },

    LOG_LEVEL : 'debug',

    PREVIEW_SIZE : {
        width : 400,
        height : 300
    },

    DB : {
        USERS : 'USERS-DB',
        FILTERS : 'FILTERS-DB'
    },


    NUM_ROWS : 30,
    NUM_GROUPS : 30,
    NUM_ROWS_IN_GROUP : 0,

    INFINITY : 100,

    SECRET : 'REPLACE-WITH-A-SECRET-STRING',

    COOKIE_NAME_SESSION : 'curie.sid',
    COOKIE_EXIPE_IN : 60 * 60 * 1000, // 60min
}

module.exports = settings;
