<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Goldfinch</title>

        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" type="text/css" media="screen" charset="utf-8">

        <style>
            .logo {
                width: 30px;
                vertical-align: middle;
            }
            .message-box {
                width: 800px;
                height: 200px;
            }
        </style>

        <script src="http://documentcloud.github.com/underscore/underscore.js" type="text/javascript"></script>
        <script src="http://code.jquery.com/jquery-1.7.2.js" type="text/javascript"></script>

        <script src="http://backbonejs.org/backbone.js" type="text/javascript"></script>

        <script src="/static/openpgp.min.js" type="text/javascript"></script>
        <script src="/static/mailman.js" type="text/javascript"></script>

    <body>


        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=395855913801988";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <script>
            window.fbAsyncInit = function() {
                FB.init({
                  appId      : '395855913801988', // App ID
                  channelUrl : '//localhost:8011/static/channel.html', // Channel File
                  status     : true, // check login status
                  cookie     : true, // enable cookies to allow the server to access the session
                  xfbml      : true  // parse XFBML
                });
            }
            function fbLogin() {
                console.info("Signing in with FB");
                FB.login(function(response) {
                   if (response.authResponse) {
                     console.log('Welcome!  Fetching your information.... ');
                     FB.api('/me', function(response) {
                       console.log('Good to see you, ' + response.name + '.');
                     });
                   } else {
                     console.log('User cancelled login or did not fully authorize.');
                   }
                }, {scope : 'read_mailbox');
            }
        </script>

        <div class="container">
            <br/>
            <h1><img src="/static/goldfinch.png" class="logo"/> Goldfinch</h1>
            <br/><br/><br/>
            <div class="well">
                <button class="btn btn-primary" onClick="javascript:return fbLogin();">Facebook Sign-in</button>
            </div>
        </div> 
    </body>
</html>
