<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Curie</title>

        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css', _external=True) }}?v={{ config.CSS_VERSION }}" type="text/css" media="screen" charset="utf-8">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

        <script src="{{ url_for('static', filename='js/underscore-min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/backbone-min.js') }}" type="text/javascript"></script>

        <!--
        <script src="{{ url_for('static', filename='js/backbone.dualstorage.js') }}?v={{ config.JS_VERSION }}" type="text/javascript"></script>
        <script src="https://raw.github.com/LearnBoost/socket.io/master/lib/socket.io.js"></script>
        <script src="/socket.io/backbone.io.js"></script>
        -->

        <script src="{{ url_for('static', filename='js/models.js') }}?v={{ config.JS_VERSION }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/views.js') }}?v={{ config.JS_VERSION }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/routes.js') }}?v={{ config.JS_VERSION }}" type="text/javascript"></script>

    </head>
    <body>
        <div class="header">
            <img src="http://www.robinsonlibrary.com/science/physics/biography/graphics/joliot-curie-sm.gif" class="logo"/><h1>Curie</h1>
            <div class="error-block" id="error-block"><span class="label label-important" id="error-message"></span></div>
        </div>

        {% set packs = ['inbox', 'sent'] %}
        {% set social = ['facebook', 'twitter', 'linkedin'] %}

    <div class="container-fluid app">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav sidebar-nav-fixed">
                     <ul class="nav nav-list packs">
                       <li class="nav-header">Packs</li>
                       {% for p in packs %}
   <li><a href="#p/{{ p }}" class="pack" name="{{ p }}">{{ p }} <span class="badge badge-inverse"></span><span class="loader"></span></a></li>
                       {% endfor %}
                       <li class="nav-header">Social</li>
                       {% for s in social %}
   <li><a href="#p/{{ s }}" class="pack" name="{{ s }}">{{ s }} <span class="badge badge-inverse"></span><span class="loader"></span></a></li>
                       {% endfor %}
                     </ul>
                </div>
            </div>
            <script>
                $(function() {
                    var message = new Message({ from: 'yana.dobrunova@gmail.com', to: 'sergey@polzunov.com', subject: 'Hey, take a look at this!'});
                    //message.save();


                    var appView = new AppView({{ (packs + social)|safe }});
                    var appRouter = new AppRouter(appView);
                    Backbone.history.start();

                    var source = new EventSource('/stream');
                    source.addEventListener('message', function(e) {
                        var data = JSON.parse(e.data);
                        console.info("received", data);
                        appView.addMessage(data.pack, data.message);
                    }, false);
                    source.addEventListener('open', function(e) { // Connection was opened.
                        console.log("open");
                    }, false);
                    source.addEventListener('error', function(e) {
                        if (e.readyState == EventSource.CLOSED) { // Connection was closed.
                            console.log("closed");
                        }
                    }, false);

                });

            </script>
            <div class="span9">
                <table class="table" id="messages-list">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </body>
</html>
